:root {
    --surface-color: #fff;
    --curve: 40;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background:linear-gradient(-282deg,#c5ffff, #b2fbff);
}


.cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    position: relative;
    /* left: 10%; */
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type:none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    /* d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z"); */
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}




:root {
    --color-1: #186cb8;
    --color-2: #2a9a9f;
    --color-3: #f1b211;
    --color-4: #e83611;
    --color-5: #f9002f;
}


.wrapper {
    background: #fef8f8;
    line-height: 1;
    min-height: 100%;
    display: grid;
    place-items: center;
    min-height: calc(100vh - 452px);
}

h1 {
    font-family: "Exo", sans-serif;
    font-size: 15vw;
    font-weight: 900;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg,
            var(--color-1) 19%,
            transparent 19%, transparent 20%,
            var(--color-2) 20%, var(--color-2) 39%,
            transparent 39%, transparent 40%,
            var(--color-3) 40%, var(--color-3) 59%,
            transparent 59%, transparent 60%,
            var(--color-4) 60%, var(--color-4) 79%,
            transparent 79%, transparent 80%,
            var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.container {
    padding: 0.2rem;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%, var(--color-1) .8%, transparent .8%),
        radial-gradient(circle at 5.5% 3%, var(--color-2) .45%, transparent .45%),
        radial-gradient(circle at 2.5% 3.5%, var(--color-3) .5%, transparent .5%),
        radial-gradient(circle at 4.5% 1.2%, var(--color-4) .25%, transparent .25%),

        radial-gradient(circle at 98% 98%, var(--color-1) .8%, transparent .8%),
        radial-gradient(circle at 95% 95%, var(--color-2) .45%, transparent .45%),
        radial-gradient(circle at 94.5% 97.5%, var(--color-3) .5%, transparent .5%),
        radial-gradient(circle at 98.5% 95.5%, var(--color-4) .25%, transparent .25%);


}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 4.5rem;
    }
}
#right0m{
}